* {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;

    background: bisque;
    width: 100%;
    height: 100%;
}

.nav-container {
    display: flex;
    font-size: 18px;
    margin: 1rem;
}

.navbar {
    margin: auto;
    padding: 0.5rem 1.5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link, .drop-down li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: antiquewhite;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display:none;
}

.nav-link:hover {
    background-color: black;
    color: #fff;
    border-radius: 0.5rem;
}

.films:hover .drop-down {
    display:block;
}

.films a {
    display: flex;
}

.films .dropdown-icon {
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.films:hover .dropdown-icon {
    transform: rotate(180deg);
}

.drop-down li:hover {
    background: black;
    color: #fff;
    border-radius: 0.5rem;
}

.animation:hover .drop-down {
    display:block;
}

.animation a {
    display: flex;
}

.animation .dropdown-icon {
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.animation:hover .dropdown-icon {
    transform: rotate(180deg);
}

.graphic-novels:hover .drop-down {
    display:block;
}

.graphic-novels a {
    display: flex;
}

.graphic-novels .dropdown-icon {
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.graphic-novels:hover .dropdown-icon {
    transform: rotate(180deg);
}

.login-link {
    list-style: none;
    height: 100%;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 600;
    cursor: pointer;
    background: RGB(221, 186, 182);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: black;
}

.login-link:hover {
    background-color: black;
    color: #fff;
    border-radius: 0.5rem;
}

.landing-container {
    background: antiquewhite;
    margin: auto;
    width: 70%;
    height: 75%;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-color:burlywood;
    border-width: 4px;
}

.title-container {
    margin: 1rem;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-width: 4px;
    border-style: solid;
    border-color: rosybrown;
    border-radius: 1rem;
}

.title {
    font-size: 30px;
    color: RGB(75, 110, 96);
    background-color: RGB(221, 186, 182);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.75rem;
}

.featured-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.new-releases-container {
    margin: 1.5rem;
    width: 25%;
    height: 80%;
    background-color: rgb(150, 144, 135);
    border-radius: 1rem;
}

.popular-container {
    margin: 1.5rem;
    width: 25%;
    height: 80%;
    background-color: rgb(150, 144, 135);
    border-radius: 1rem;
}

.top-rated-container {
    margin: 1.5rem;
    width: 25%;
    height: 80%;
    background-color: rgb(150, 144, 135);
    border-radius: 1rem;
}

/*.slidershow {
    height: 40%;
    width: 15%;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;  
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 40px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 89%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0; 
}

#r2:checked ~ .s1 {
    margin-left: -20%; 
}

#r3:checked ~ .s1 {
    margin-left: -40%; 
}

#r4:checked ~ .s1 {
    margin-left: -60%; 
}

#r5:checked ~ .s1 {
    margin-left: -80%; 
}*/